body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  background-color: black;
}

nav {
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: GraublauWeb;
  src: url('/Styles/Fonts/The\ Wild\ Breath\ of\ Zelda.otf') format('opentype');
}

#title {
  color: white;
  font-size: 80px;
  text-align: center;
  font-family: GraublauWeb;
  src: url('/Styles/Fonts/The\ Wild\ Breath\ of\ Zelda.otf') format('opentype');
}

#sub-title {
  font-size: 50px;
  color: white;
  src: url('/Styles/Fonts/The\ Wild\ Breath\ of\ Zelda.otf') format('opentype');
}

p {
  color: white;
  font-family: GraublauWeb;
  font-size: 20px;
  src: url('/Styles/Fonts/The\ Wild\ Breath\ of\ Zelda.otf') format('opentype');
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 15%;
  height: 100%;
  position: fixed;
  overflow: auto;
  box-shadow: 0 0 35px 0 rgb(105, 105, 105);
}
li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  font-family: GraublauWeb;
  src: url('/Styles/Fonts/The\ Wild\ Breath\ of\ Zelda.otf') format('opentype');
}

li {
  color: rgb(255, 255, 255);
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-weight: 500;
  letter-spacing: 2px;
  list-style-type: none;
}

li:hover {
  border: 1px solid #416fbd;
  transition: 2s;
}

h1,
h2,
h3,
h4 {
  color: white;
  font-family: GraublauWeb;
  src: url('/Styles/Fonts/The\ Wild\ Breath\ of\ Zelda.otf') format('opentype');
}

.main-container {
  height: 100vh;
  width: 100%;
}

.gameContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100vw;
}

#image {
  width: 500px;
  height: 100%;
}

#imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#score-container {
  display: flex;
  flex-direction: row;
}

.score {
  width: 100%;
}

span {
  color: white;
  font-family: GraublauWeb;
  src: url('/Styles/Fonts/The\ Wild\ Breath\ of\ Zelda.otf') format('opentype');
}

.btn {
  padding: 10px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 3px;
  margin: 10px;
}

.answer-cont {
  display: flex;
  justify-content: baseline;
  align-items: center;
  flex-direction: row;
}
