body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  background: linear-gradient(#6090f6, black);
}

nav {
  width: 100%;
  height: 100%;
}

#landing {
  width: 100%;
  height: 100%;
}

#title {
  color: white;
  font-size: 80px;
  text-align: center;
  font-family: Roboto, Helvetica Neue, sans-serif;
  color: #fff;
}

#sub-title {
  font-size: 50px;
  color: white;
}

p {
  color: white;
  font-size: 20px;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 15%;
  height: 100%;
  position: fixed;
  overflow: auto;
  box-shadow: 0 0 35px 0 rgb(31, 31, 31);
  background: linear-gradient(
    120deg,
    #2f487c 10%,
    #3f67cd 30%,
    #3f67cd 40%,
    #2f487c 60%,
    #3f67cd 80%,
    #2f487c
  );
}
li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
}

li {
  color: rgb(255, 255, 255);
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-weight: 500;
  letter-spacing: 2px;
  list-style-type: none;
}

li:hover {
  border: 1px solid #416fbd;
  transition: 2s;
}

h1,
h2,
h3,
h4 {
  color: white;
}

.main-container {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  background: linear-gradient(
    120deg,
    #2f487c 10%,
    #3f67cd 30%,
    #3f67cd 40%,
    #2f487c 60%,
    #3f67cd 80%,
    #2f487c
  );

  border-color: #5f87dd #1c2a49 #1c2a49 #5f87dd;
  border-style: solid;
  border-width: 5px;
}

#image {
  height: 800px;
  width: auto;
}

#imageContainer {
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.score {
  width: 100%;
}

span {
  color: white;
  font-family: Roboto, Helvetica Neue, sans-serif;
  color: #fff;
}

.answer-cont {
  display: flex;
  justify-content: baseline;
  align-items: center;
  flex-direction: row;

  border-radius: 5px;
}

input {
  height: 30px;
  border-radius: 5px;
  background-color: transparent;
  outline: none;
  color: white;
  font-family: Roboto, Helvetica Neue, sans-serif;
  margin: 0 auto;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
}
